.footer {
  background-color: #20232a; /* Dark background for the footer */
  color: #000000; /* White text color */
  padding: 20px 0; /* Padding on the top and bottom */
  text-align: center; /* Center the text */
}

.footer a {
  color: #61dafb; /* Light blue color for links */
}

.footer a:hover {
  color: #bbdefb; /* Lighter blue color when hovering over links */
}