/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #20232a;
  --ifm-color-primary-dark: #1d1f26;
  --ifm-color-primary-darker: #1b1e24;
  --ifm-color-primary-darkest: #16181d;
  --ifm-color-primary-light: #23262e;
  --ifm-color-primary-lighter: #252830;
  --ifm-color-primary-lightest: #2a2d37;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9fa099;
  --ifm-color-primary-dark: #909189;
  --ifm-color-primary-darker: #888981;
  --ifm-color-primary-darkest: #70716a;
  --ifm-color-primary-light: #aeafa9;
  --ifm-color-primary-lighter: #b6b7b1;
  --ifm-color-primary-lightest: #cdcdca;
}

.footer {
  background-color: #242526; /* Dark background for the footer */
  color: #FFFFFF; /* Text color */
  padding: 20px 0; /* Padding on the top and bottom */
  text-align: center; /* Center the text */
}

.footer a {
  color: #FFFFFF; /* Light color for links */
}

.footer a:hover {
  color: #CC4B22; /* Lighter color when hovering over links */
}

.account-layout-table th {
  text-align: center;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
}

.account-layout-table td {
  border: 1px solid #ddd;
  border-top: none;
}